<mat-toolbar color='primary'>
  <span>Evaluation App</span>
</mat-toolbar>

<div class="content" fxLayout="row wrap">
  <div class="content-card" fxFlex="33.3%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let post of posts">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="header-image"
          [ngStyle]="{'background-image': 'url(' + post.owner.picture + ')'}"></div>
        <mat-card-title>{{post.owner.firstName}} {{post.owner.lastName}}</mat-card-title>
        <mat-card-subtitle>{{post.owner.email}}</mat-card-subtitle>
      </mat-card-header>
      <img class="card-img" mat-card-image [src]="post.image" alt="Photo of a The post">
      <mat-card-content>
        <mat-chip-list>
          <mat-chip class="tag-chip" color="accent" selected="true" *ngFor="let tag of post.tags">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
        <p class="card-text">{{post.text}}</p>
        <div class="link">
          <a href="#">{{post.link}}</a>
        </div>
        <mat-divider inset="true"></mat-divider>
        <div class="like">
          <mat-icon color="primary" aria-hidden="false">favorite</mat-icon>
          <span class="like-count">{{post.likes}} likes</span>
          <span class="date">{{post.publishDate | date:'medium'}}</span>
        </div>
        <mat-divider inset="true"></mat-divider>
      </mat-card-content>
      <div class="footer-link">
        <a href="#">Get Post Comment</a>
      </div>
      <div class="footer-link">
        <a href="#">Get Owner Profile</a>
      </div>
    </mat-card>
  </div>
</div>