.header-image {
    background-size: cover;
  }

.content {
    padding: 16px;
    .content-card {
        padding: 16px;
    }
}


.card-img {
    margin-bottom: 0px;
    height: 300px;
}

.tag-chip {
    min-height: 20px;
}

.card-text {
    margin: 12px 0px;
    font-size: 15px;
    max-height: 80px;
    min-height: 80px;
    overflow: auto;
}

.link {
    margin-bottom: 5px;
    min-height: 20px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    a {
        text-decoration: none;
    }
}

.likes{
    font-weight: 500;
}

.like {
    display: flex;
    margin: 5px 0px;
    mat-icon {
        vertical-align: middle;
        margin-right: 5px;
    }

    span {
        vertical-align: middle;
    }

    .like-count {
        font-weight: 500;
    }

    .date {
        flex: 1;
        text-align: right;
        color: grey;
    }
}

.footer-link {
    font-size: 13px;
}